@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-red: rgb(255, 99, 71);
    --primary-offwhite: rgb(243, 240, 236);
    --primary-grey: rgb(107, 107, 106);
    --secondary-beige: rgb(248, 222, 193);
    --secondary-red: rgba(255, 99, 71, 0.5);
    --light-red: rgba(248, 152, 135, 0.3);
}

@keyframes bgText {
    0%, 10%, 100% {
        background-position: -580px 0 ;
    }

    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes socials {
    0% {scale: 1;}
    100% {scale: 1.5;}
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 100px;
    font-family: "Roboto", sans-serif;
}

.profPic {
    width: 450px;
    border-radius: 50%;
    padding: 20px;
    opacity: 1;
    margin-top: -50px;
}

.profPic:hover {
    opacity: .8;
}

.mainInfo {
    margin-top: -100px;
}


h1 {
    font-size: 50px;
}

.mainInfo h4 {
    position: relative;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: .9px var(--primary-red);
    background-image: linear-gradient(var(--primary-red), var(--primary-red));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: bgText 6s linear infinite;
    animation-delay: 1.8s;
}

.introInfo {
    font-size: 20px;
    width: 300px;
    margin: 15px 0;
}

.download {
    margin: 20px 0;
    padding: 10px 20px;
    border: 2px solid var(--light-red);
    border-radius: 5px;
    background: var(--primary-red);
    color: var(--primary-grey);
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
}

.download:hover {
    background: var(--light-red);
}

.socials {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.socials a {
    font-size: 16px;
    color: var(--primary-red); 
    border: 1px solid var(--light-red); 
    padding: 15px;
    width: 23px !important;
    height: 23px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socials a:hover {
    color: var(--primary-offwhite);
    background-color: var(--secondary-red);
    border: 1px solid var(--secondary-red);
    animation: socials .5s;
}

@media(max-width:918px) {
    .intro {
        margin-left: 20px;
        height: 80vh;
    }

    .profPic {
        width: 300px;
        padding: 0;
        margin-top: -350px;
    }

    .mainInfo {
        margin-top: -300px;
    }
}

@media(max-width:718px) {
    .profPic {
        width: 200px;
        
    }

    .mainInfo h1, .mainInfo h4 {
        font-size: 30px;
    }

    .introInfo {
        width: 250px;
    }
}

@media(max-width:636px) {
    .intro {
        display: flex;
        align-items: center;
        justify-content: center !important;
        height: 80vh;
    }

    .mainInfo {
        padding: 20px;
        position: relative;
        top: 35%;
    }

    .profPic {
        position: absolute;
        top: 20%;
        left: 30%;
        overflow: hidden;
        width: 250px;
        margin-top: -120px;
    }
}

@media(max-width:476px) {
    .intro {
        height: 100vh;
    }

    .profPic {
        left: 10%;
    }
}

@media(max-width: 407px) {
    .intro  {
        height: 100vh;
    }

    .mainInfo {
        margin-top: 10px;
    }
}

